#navbar{
    display: flex;
    justify-content: space-between;
}
img{
    height: 150px;
    width: 150px;
}
#bottom{
    display: flex;
}
.news{
    display: flex;
    border: 1px solid blue;
    margin-bottom: 10px;
}
#sidebar{
    height: 400px;
    width: 200px;
}
#search_input{
    height: 20px;
    width: 60%;
}